streamlit
streamlit-analytics2
notebook
pandas
numpy
plotly
matplotlib
seaborn
python-dotenv
faker
xgboost
scikit-learn
shap
interpret
statsmodels
# interpret core dependencies (needed for --no-deps install)
scipy
joblib
